<div class="row justify-content-md-center mt-3">

  <h1>Edit scheduled Tweet</h1>

  <%= render "./shared/error", obj: @tweet %>

  <%= render "partials/form", tweet:@tweet, function: "edit" %>

</div>